.meal__view-container {
  width: 80%;
  margin: 6rem auto 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.meal__view-image {
  /* width: r; */
}

.meal__view-image img {
  width: 100%;
}

.meal__category {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.about__meal-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--color-secondary);
}

.about__meal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.meal__oiginal-price {
  text-decoration: line-through;
}

.add__button {
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: 1px solid var(--color-secondary);
  border-radius: 2rem;
  transition: all 0.2s;
}

.add__button:hover {
  background-color: transparent;
  color: var(--color-secondary);
}

.order__guidelines {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.guidelines__list {
  /* list-style: dotted; */
}

/* settting media queries for medium screen */
@media (max-width: 950px) {
  .meal__view-container {
    width: 90%;
    margin-bottom: 5rem;
  }
}

/* settting media queries for small screen */
@media (max-width: 650px) {
  .meal__view-container {
    width: 90%;
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
  }
}
