.profile__section {
  width: 80%;
  /* height: 70vh; */
  margin: 10rem auto 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 950px) {
  .profile__section {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .profile__section {
    grid-template-columns: 1fr;
  }
}
