.overview__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.overview__details-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  border: 1px solid var(--color-primary);
}

.account {
  padding: 1rem;
  border-bottom: 1px solid var(--color-primary);
}
.account__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  height: 10rem;
}

.email {
  font-size: 0.9rem;
  opacity: 0.7;
}

.details {
  font-size: 0.9rem;
  opacity: 0.7;
}

@media (max-width: 650px) {
  .overview__container {
    grid-template-columns: 1fr;
  }
}
