.meal {
  display: flex;
  justify-content: center;
  color: black;
}

.meal__article {
  width: 80%;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  transition: all 0.3s;
}

.meal__article:hover {
  scale: 1.03;
  color: var(--color-secondary);
}

.meal__article img {
  width: 100%;
}

.meals__title-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: space-between;
}

.meal__title {
  text-align: start;
  font-size: 1.2rem;
  width: 100%;
}

.meal__price-container {
  width: 100%;
  text-align: start;
}
.meal__oiginal-price {
  text-decoration: line-through;
}

/* setting media queries for small screen */
@media (max-width: 650px) {
  .meal__article {
    width: 16rem;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    transition: all 0.3s;
  }
}
