.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10rem auto 0 auto;
  width: 30rem;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.login__form h2 {
  text-align: center;
  color: var(--color-secondary);
}

.input__container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input__container input {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid gray;
}

.login__button {
  width: 50%;
  align-self: flex-end;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-radius: 0.4rem;
  transition: all 0.2s;
}

.login__button:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
}

.signup {
  margin-left: 0.2rem;
  color: var(--color-primary);
  cursor: pointer;
}
.signup:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .login__form {
    width: 90%;
    margin-bottom: 5rem;
  }
}
